@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root {
  --taskbar-background: lightskyblue;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

#taskbar {
  background-color: var(--taskbar-background, lightskyblue);
  color: white;
}

#start-menu {
  background-color: var(--taskbar-background, lightskyblue);
  color: inherit;
  outline: none;
  border: none;
  overflow: hidden;
}

#start-menu:hover {
  background-color: var(--taskbar-background, lightskyblue);
}

#start-menu:focus {
  background-color: var(--taskbar-background, lightskyblue);
}

#start-menu:active {
  background-color: var(--taskbar-background, lightskyblue);
}
